<% content_for :title, "My Published Blogs" %>

<div class="hero-section">
  <h1 class="hero-title">My Published Stories</h1>
  <p class="hero-subtitle">Your published blogs</p>
</div>

<div class="blog-filters">
  <%= link_to "All Posts", root_path, class: "filter-link" %>
  <% if user_signed_in? %>
    <%= link_to "My Published", published_blogs_path, class: "filter-link active" %>
    <%= link_to "My Drafts", unpublished_blogs_path, class: "filter-link" %>
  <% end %>
</div>

<div class="blogs-container">
  <div id="blogs">
    <% @blogs.each do |blog| %>
      <%= render partial: 'blog_card', locals: { blog: blog } %>
    <% end %>
    
    <% if @blogs.empty? %>
      <div style="text-align: center; padding: 4rem 0; color: #757575;">
        <h3>No published blogs yet</h3>
        <p>Publish your first story!</p>
        <%= link_to "View Drafts", unpublished_blogs_path, class: "write-btn", style: "margin-top: 1rem; display: inline-block;" %>
      </div>
    <% end %>
  </div>
</div>
